{% extends 'base.html' %}

{%block title%}
Events
{% endblock %}
        {%block content%}
 <h2class="text-center">Events</h2>       
<div class="container">
        <div class="card text-center" style="width: 18rem; display: inline-block;margin: 20px;">
                <img src="{% static 'images/pic2.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                        <h5 class="card-title">Event1</h5>
                        <p class="card-text">Best option for your Events....!!Join with Us... </p>
                </div>
                <div class="card text-center" style="width: 18rem; display: inline-block;margin: 20px;">
                <img src="{% static 'images/pic3.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                        <h5 class="card-title">Event1</h5>
                        <p class="card-text">Best option for your Events....!!Join with Us... </p>
                </div>
        </div>
        <div class="card text-center" style="width: 18rem; display: inline-block;margin: 20px;">
                <img src="{% static 'images/pic4.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                        <h5 class="card-title">Event1</h5>
                        <p class="card-text">Best option for your Events....!!Join with Us... </p>
                </div>
        </div>
        <div class="card text-center" style="width: 18rem; display: inline-block;margin: 20px;">
                <img src="{% static 'images/pic5.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                        <h5 class="card-title">Event1</h5>
                        <p class="card-text">Best option for your Events....!!Join with Us... </p>
                </div>
        </div>
        <div class="card text-center" style="width: 18rem; display: inline-block;margin: 20px;">
                <img src="{% static 'images/pic6.jpg' %}" class="card-img-top" alt="..." height="150px" width="200px">
                <div class="card-body">
                        <h5 class="card-title">Event1</h5>
                        <p class="card-text">Best option for your Events....!!Join with Us... </p>
                </div>
        </div>
        </div>

</div>
{% endblock %}
